<template name="shortenbar">
	<div class="row">
		<div class="col-lg-6">
	        <div class="input-group custom-search-form">
	            <input name="longUrl" type="text" class="form-control" placeholder="Paste a long URL here to shorten..." value="" autocomplete="off" autocorrect="off" autocapitalize="off">
	            <span class="input-group-btn">
	            <button class="btn btn-default" type="button" id="convert">
	                <span class="glyphicon glyphicon-search"></span>
	            </button>
	        </span>
	        </div>
	        <!-- /input-group -->
        </div>
    </div>
</template>